.card {
    width: 50%;
    height: auto;
    /* position: relative; */
}

@media (width <= 764px) {
    .card {
        width: 100%;
    }
}

img {
    display: block;
    border-radius: 5px;
    padding: 5px;
    height: 400px;
}

.overlay {
  position: ;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 5px;
}

.card:hover .overlay {
    opacity: 1;
}

