.navbar {
    position: sticky;
    top: 0; 
    display: grid; 
    place-items: center;
    padding-bottom: 15px;
}

.navbarComponent {
    padding: 20px 0px 20px 37px;
    display: flex;
    border-bottom: solid 1px rgba(34, 34, 34);
    background-color: rgba(0, 0, 0, 0.9);
    width: 98%;
}

.navLink {
    padding-right: 25px;
}
